/*  your css code here. If applicable */
*
{
	font-family: "Parkinsans", serif;
}
.main-container
{
	width:1100px;
	
}
.col-1
{
	width:200px;
	padding:10px;
}
.col-2
{
	width:600px;
	padding:10px;
	text-align:center;
}
.col-3
{
	width:200px;
	padding:10px;
}
.imageContainer
{
	display:flex;
	width:100%;
	justify-content:center;
}
